#content {
    .contentCont {
        border-radius: 20px;
        margin: 2rem 0;
        padding: 1rem 2rem;
        background-color: $color1;
        width: 80%;
        box-shadow: 2px 2px 2px 2px rgb(45, 45, 45);
    }
}