@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@400;700&display=swap');

$fontColor: white;
$fontColor2: black;
$BgColor: #0D0D56;
$color1: #ffffffab;
$color2: #C7003C;
$color3: #FFB488;
$color4: #ff4141d0;

* {
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $BgColor;
    color: $fontColor;
    text-align: center;
    font-size: 15px;
    background-image: url('../assets/fondo.png');
    background-size: cover;
    background-attachment: fixed;
}

div,
section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    margin: 0 auto;
}

section {
    padding: 1rem 0;
    width: 100%;
}

button,
img,
#navbar h4 {
    cursor: pointer;
}

*::-webkit-scrollbar {
    width: 13px;
  }

  *::-webkit-scrollbar-track {
    background: $fontColor
  }

  *::-webkit-scrollbar-thumb {
    background-color: $BgColor;
    border-radius: 10px;
    border: 3px solid $fontColor;
  }

#intro {
    width: 50%;
    align-items: flex-start;
    text-align: start;
    margin: 1rem 0 0 1rem;
    padding: 1.5rem;
    background-color: $color4;
    border-radius: 1rem;

    .introText {
        margin: 1rem 0;
        align-self: flex-start;
        width: 80%;
        flex-direction: row;
    }

    .imgProfile {
        width: 5rem;
        height: 5rem;
        margin: auto 1.5rem;
    }

}

#content {
    .contentCont {
        border-radius: 20px;
        margin: 2rem 0;
        padding: 1rem 2rem;
        background-color: $color1;
        width: 80%;
        box-shadow: 2px 2px 2px 2px rgb(45, 45, 45);
    }
}

#navbar {
    div {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        color: $color2;

        h4 {
            background-color: $color3;
            border: none;
            border-radius: 1000px;
            padding: 0.5rem 1rem;
        }
    }

    .active {
        transform: scale(1.2);
        color: $color2;
        box-shadow: 2px 5px 0 0 rgba(0, 0, 0, 0.507) ;
    }
}

#languages {
    width: 100%;
    color: $fontColor2 ;

    .cardCont {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 3rem;
        width: 100%;

        .langCont {
            min-width: 8rem;
            width: 8rem;
            min-height: 10rem;
            img {
                width: auto;
                height: 8rem;
                margin-bottom: 1rem;
            }
            &:hover{
                transform: scale(1.2);
            }
        }
    }
}

#projectsSection {
    width: 100%;

    .projectsCont {
        flex-direction: row;
        gap: 3rem;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .pCont {
        background-color: #000000ba;
        width: 20rem;
        min-height: fit-content;
        padding: 1rem 0;
        margin: 1rem ;
        border-radius: 10px;

        .content {
            height: 10rem;
            margin: 1rem 0;
            background-color: black;
            height: fit-content;
            img {
                width: 100%;
            }
            p{
                margin:1rem;
                text-align: justify;
            }
            &:hover{
                cursor: pointer;
            }
        }

        div {
            flex-direction: row;
            justify-content: space-evenly;

            a {
                text-decoration: none;
                color: white;

                &:hover {
                    text-decoration: underline;
                    color: $color2;
                }
            }
        }
        &:hover{
            transform: scale(1.05);
            box-shadow: 3px 3px 2px 0px $color4;
        }

    }
}

#contactSection {
    color: black;
    width: 100%;
    
    .redes {
        flex-wrap: wrap;
        gap: 2rem;
        width: 80%;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    div{
        width: fit-content;
        .mediaImg {
            z-index: index;
            width: 8rem;
            height: 8rem;
            border-radius: 100%;
            margin-top: 1rem;
            background: rgb(132, 132, 132);
            &:hover {
                background: $color4;
                transform: scale(1.1);
            }
        }
    }
}

.invisible {
    display: none;
}